body {
    background-color: cornflowerblue;
}

div {
    margin-top: 50px;
    margin-left: 375px;
}
h1 {
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

span {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

.input {
    width: 400px;
    height: 40px;
    margin: 20px;
    border: none;
    border-radius: 10px;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.3rem;
}

#file-name {
    margin-left: 40px;
}

button {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-family: sans-serif;
    text-align: center;
    font-size: 1.3rem;
}

#upload {
    margin-left: 190px;
    color: white;
    background-color: #06f;
}

#encrypt {
    margin-left: 20px;
    color: white;
    background-color: #2eb82e;
}

button:hover {
    cursor: pointer;
}

img {
    width: 25%;
    height: 25%;
}

#uploaded-img {
    margin-left: 60px;
    display: none;
}

#encrypted-img {
    margin-left: 100px;
    display: none;
}

#download-input {
    text-align: left;
    width: 500px;
}

#download-button {
    margin-left: 140px;
    background-color: black;
    color: white;
}