<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Image Encryption and Decryption</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
    </head>
    </head>
    <body>
        <h1 id="heading">Image Encryption</h1>
        <p id="description">Image Encryption and Decryption using AES Algorithm</p>
        <br>
        <a href="encrypt"><img id="encryption" src="static/Images/Encryption.png"></a>
        <a href="decrypt"><img id="decryption" src="static/Images/Decryption.png"></a>
    </body>
</html>